<div class="flex container">
  <div class="flex flex-column content">
    <img src="/assets/images/logo.svg" alt="logo" />
    <div class="flex flex-column calculator-container">
      <div class="flex flex-column input-group">
        <div class="flex flex-column input--bill">
          <label for="bill">Bill</label>
          <input
            [(ngModel)]="bill"
            (ngModelChange)="calculate()"
            class="bill"
            name="bill"
            type="number"
            placeholder="0"
          />
        </div>
        <div class="flex flex-column input--tip">
          <label for="tip">Select Tip %</label>
          <div class="tip--options">
            <button
              *ngFor="let percentage of percentagesList"
              (click)="getTip(percentage)"
              class="tip--preset"
            >
              {{ percentage }}%
            </button>
            <input
              [(ngModel)]="tip"
              class="tip--custom"
              type="number"
              placeholder="Custom"
            />
          </div>
        </div>
        <div class="flex flex-column input--people">
          <div class="flex flex-space-between">
            <label for="people">Number of People </label>
            <span *ngIf="show" class="validation-error">Can't be zero</span>
          </div>
          <input
            [(ngModel)]="people"
            (ngModelChange)="calculate()"
            [ngClass]="{ 'error-input': people == '0' }"
            class="people"
            name="people"
            type="number"
            placeholder="0"
          />
        </div>
      </div>
      <div class="flex flex-column result-group">
        <div class="flex flex-column amount-group">
          <div class="flex tip-amount">
            <div class="result-label">
              <label for="amount">Tip Amount</label>
              <span>/ person</span>
            </div>
            <div class="result tip-result">${{ tipPpAmount }}</div>
          </div>
          <div class="flex tip-total">
            <div class="result-label">
              <label for="total">Total</label>
              <span>/ person</span>
            </div>
            <div class="result bill-result">${{ billPpAmount }}</div>
          </div>
        </div>
        <button (click)="reset()" class="reset">Reset</button>
      </div>
    </div>
  </div>
</div>
