@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400&display=swap");

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --medium-grayish-cyan: hsl(184, 14%, 56%);
  --grayish-cyan: hsl(185, 41%, 84%);
  --light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--grayish-cyan);
}

span {
  display: block;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-space-between {
  justify-content: space-between;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin: auto;
}

.calculator-container {
  background-color: var(--white);
  margin: auto;
  border-radius: 16px;
  width: min(100%, 52rem);
  padding: 1.5em;
  gap: 2em;
  box-shadow: 4px 20px 40px hsl(183, 100%, 15%, 0.2);
}

.calculator-container > div {
  width: 100%;
}

.calculator-container > div {
  gap: 2em;
}

label {
  color: var(--dark-grayish-cyan);
  margin-bottom: 0.5em;
}

.result-group {
  background-color: var(--very-dark-cyan);
  padding: 2em;
  border-radius: 16px;
  justify-content: space-between;
}

.amount-group {
  gap: 3em;
}

.amount-group > div {
  justify-content: space-between;
  align-items: center;
}

input {
  border: 2px solid transparent;
  background-color: var(--light-grayish-cyan);
  background-repeat: no-repeat;
  background-position: center left 0.75em;
  padding: 0.1em 0.5em;
  border-radius: 8px;
  text-align: right;
  font-family: inherit;
  font-size: 28px;
  color: var(--very-dark-cyan);
}

input:focus {
  outline: none !important;
  border-color: var(--strong-cyan);
}

input[type="number"] {
  appearance: textfield;
}

.input--bill > input {
  background-image: url("images/icon-dollar.svg");
}

.input--people > input {
  background-image: url("images/icon-person.svg");
}

.tip--options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

button {
  border: none;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 400;
  font-family: "Space Mono", monospace;
  padding-block: 0.25em;
  cursor: pointer;
  transition: all 0.15s;
}

.tip--preset {
  background-color: var(--very-dark-cyan);
  color: white;
}

.tip--preset:hover {
  background-color: var(--grayish-cyan);
  color: var(--very-dark-cyan);
}

.tip--custom {
  background-color: var(--light-grayish-cyan);
  width: 100%;
  font-size: 24px;
  padding: 0;
  padding-right: 0.5em;
}

.selected {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.selected:hover {
  background-color: var(--strong-cyan);
}

.result-label > label {
  color: var(--white);
}

.result-label > span {
  color: var(--dark-grayish-cyan);
}

.result {
  color: var(--strong-cyan);
  font-size: 32px;
}

.reset {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.reset:hover {
  background-color: var(--grayish-cyan);
}

.validation-error {
  display: none;
  font-weight: 400;
  color: #ff5722;
}

.error-input {
  border-color: #ff5722;
}

.error-input:focus {
  border-color: #ff5722;
}

@media only screen and (min-width: 800px) {
  .calculator-container {
    flex-direction: row;
  }

  .tip--options {
    grid-template-columns: repeat(3, 1fr);
  }
}
