@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--light-gray);
}

h1 {
  color: var(--dark-blue);
  margin-top: 1em;
  margin-inline: 0.25em;
  font-size: clamp(24px, 2.5vw, 32px);
}

p {
  color: var(--grayish-blue);
  margin-block: 1.5em;
  margin-inline: 0.75em;
  font-size: clamp (12px, 2.5vw, 20px);
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  margin: auto;
  width: min(90%, 28.25rem);
  padding: 1.25em;
  border-radius: 24px;
  text-align: center;
}

.card-img {
  border-radius: 16px;
}
